@import url('https://fonts.googleapis.com/css?family=Arvo|Caudex|Kreon|Roboto|Roboto+Slab&display=swap');

body {
    margin: 0;
    background-color:#d8cbb1;
}

.navbar {
    width: 100%;
    margin: 0 auto;
    background-color: #d8cbb1;
    -webkit-box-shadow: 0px 5px 17px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 17px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 17px -8px rgba(0,0,0,0.75);
}

.nav-titles {
    margin: auto;
    display: inline-flex;
    justify-content: space-around;
    background-color: #d8cbb1;
    width: 100%;
    list-style-type: none;
    height: 120px;
    padding: 0;
}

.nav-titles li {
    margin: 12.5px;
}

.nav-titles li a {
    text-decoration: none;
    color: #1a1a1a;
}

#logo {
    font-family: "Caudex", serif;
    letter-spacing: 1.5px;
    font-size: 75px;
    text-transform: uppercase;
    transition: .5s;
}

#logo:hover {
    text-shadow: 2px 2px 5px #000000;
}

.lateral-box-container {
    border: 2.5px solid #1a1a1a;
    border-radius: 1px;
    margin-top: 2px;
    padding: 8px;
    width: 180px;
    height: 64.5px;
    align-content: center;

}

.lateral-box-container {
    background-color: #d6c49f;
    transition: .8s;
}

.navbar li:hover > a > .lateral-box-container {
    -webkit-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
transition: 1s;
}

.navbar li:hover .fa-hand-pointer {
    transform: translateY(-5px);
    transition: .4s;
}

.navbar li:active > a > .lateral-box-container {
    background-color: #b1a285;
    transition: .2s;
    
}

.lateral-navbar-text {
    font-family: "Roboto Slab", sans-serif;
    font-size: 22.5px;
    text-transform: uppercase;
    font-weight: 800;
    text-align: justified;
}

.down-navbar-container {
    margin: 0 80px;
    border-top: 1.8px solid #1a1a1a;
    border-bottom: 1.8px solid #1a1a1a;
    text-align: center;
}

.down-navbar-text {
    display: inline-block;
    position: relative;
    font-family: "Roboto Slab";
    font-weight: 400;
    text-transform: uppercase;
}

.container {
    background-color: #d8cbb1;
    margin: 0 auto;
    width: 950px;
}

.section-title {
    font-family: "Arvo", serif;
    font-size: 40px;
    font-style: oblique;
    text-transform: uppercase;
    border-bottom: 1px solid #1a1a1a;
}

.minor-title {
    font-family: "Arvo", serif;
    font-size: 22.5px;
    font-style: oblique;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    background-color: #d6c49f;
    border: 3.5px solid #1a1a1a;
    color: #1a1a1a;
    border-radius: 1.5px;
    padding: 0 5px;
    width: max-content;
    margin-bottom: -10px;

}

.small-container {
    background-color: #ffeac1;
    border: 3.5px solid #1a1a1a;
    border-radius: 2.5px;
    padding: 0 50px;
    transition: .5s;
}

.small-container:hover {
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
transition: .5s;
}

.features {
    padding: 30px;
}

section {
    margin: 25px 0;
}

.warning-container {
    display: flex;
    justify-content: space-evenly;
}

.warning-container > .warning-container {
    width: 275px;
}

.warning-message {
    border-radius: 1.5px;
    max-width: 220px;
    min-width: 180px;
    height: 55px;
    padding: 25px 20px;
    margin: 25px 10px 15px 10px;
    font-size: 22.5px;
    filter: sepia(30%);
    transition: .2s;
}

.warning-message > span {
    font-family: "Roboto", serif;
    padding: 5px 0;
    cursor: default;
}

.warning-message .fas {
    font-size: 66px;
    float: right;
    margin: 0 -36px;
}

.warning-message:hover {
    transform: translateY(-10px);
    transition: .3s;
    transition-delay: .1s;
    -webkit-box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.75);
}

.warning-message:first-child {
    background-color: #e40004;
    border: 4px solid #160000;
    color: #160000;
}

.warning-message:first-child .fas {
    color: #160000;
}


.warning-message:nth-child(2) {
    background-color: #d3df00;
    border: 4px solid #303300;
    color: #303300;
}

.warning-message:nth-child(2) .fas{
    color: #303300;
}

.warning-message:nth-child(3) {
    background-color: #00c610;
    border: 4px solid #003800;
    color: #003800;
}

.warning-message:nth-child(3) .fas{
    color: #003800;
}

.warning-message:nth-child(4) {
    background-color: #d6c49f;
    border: 4px solid #222;
    color: #222;
    line-height: 21.5px;
    font-size: 21px;

}

.warning-message:nth-child(4) .fas {
    color: #222;
    margin: -15.5px -35.5px;
}

.arrow-slideshow {
    display: flex;
    justify-content: space-between;
    padding: 12.5px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #252525;
    border-bottom: 3.5px solid #1a1a1a;
    border-top: 3.5px solid #1a1a1a;
    height: 27.5px;
}

.arrow-slideshow a {
    text-decoration: none;
    color: #ffeac1;
    text-transform: uppercase;
}

.prev, .next {
    display: flex;
    flex-direction: column;
    font-size: 35px;
    color: #1a1a1a;
    border-radius: 2.5px;
    margin-top: -10.5px;
}

.prev .fas, .next .fas {
    font-size: 50px;
}

.prev a, .next a {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
}

.first-page-container {
    background-color: #ffeac1;
    border: 3.5px solid #1a1a1a;
    border-radius: 2.5px;
    max-width: 962px;
    transition: .5s;
}

.first-page-container:hover {
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
transition: .5s;
}

.first-page-container h1 {
    font-family: "Arvo", serif;
    font-size: 32.5px;
    text-transform: uppercase;
    font-style: oblique;
    background-color: #d6c49f;
    border-top: 3.5px solid #1a1a1a;
    border-bottom: 3.5px solid #1a1a1a;
    padding: 3.5px 5px;
    margin-top: 25px;
}

.first-page-desc-container {
    display: flex; 
    padding: 0 63.5px;
}

.first-page-img {
    filter: sepia(15%);
    border: 4px solid #1a1a1a;
    max-width: 450px;
    max-height: 300px;
    width: auto;
    height: auto;

}

.first-page-desc {
    font-family: "Roboto", serif;
    font-size: 17.5px;
    letter-spacing: 1.25px;
    font-weight: 300;
    margin-left: 25px;
    max-width: 420px;
    max-height: 320px;
    text-align: justify;
    margin-bottom: 15px;
}

.first-page-desc a {
    text-decoration: none;
}

.features {
    display: flex;
    margin: 0;
    padding: 25px 0 40px 0;
}

.insert {
    width: 450px;
    margin: 0 10px 0 0;
    border: 3px dashed #1a1a1a;
    cursor: pointer;
    background-color: #d6c49f;
    transition: .5s;
    -webkit-box-shadow: inset 0px 0px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 16px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 16px 0px rgba(0,0,0,0.75);
}

.insert:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #ffeac1;
    transition: 1s;
}

.insert .fa-hand-pointer {
    font-size: 50px;
    float: right;
    padding-right: 10px;
    padding-bottom: 10px;
    color: #1a1a1a;
    transform: rotate(-45deg);
    transition: .8s;
}


b {
    font-weight: bold;
}

.insert:hover .fa-hand-pointer {
    -moz-transform: translate(-80px, -80px);
    -ms-transform: translate(-2px, -2px);
    -o-transform: translate(-2px, -2px);
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px)
    transition: 1.5s;
}

.insert > .insert-title {
    background-color: #1a1a1a;
    padding: 5px;
    height: min-content;
}

.insert .fas {
    padding-right: 15px;
}

.insert h2 {
    color: #ffeac1;
    font-family: "Arvo", serif;
    text-transform: uppercase;
    white-space: nowrap;
    margin: 10px 20px;
}

.insert p {
    font-family: "Roboto", serif;
    font-size: 17.5px;
    letter-spacing: 1.25px;
    font-weight: 300;
    text-align: justify;
    margin: 15px;
}

.contatore > .first-page-desc {
    max-width: 100%;
}

.contatore table {
    margin: 15px auto;
    border: 2.5px solid #1a1a1a;
    width: 500px;
    height: max-content;
    background-color: #d6c49f;
}
.contatore caption {
    font-family: "Arvo", serif;
    color: #ffeac1;
    font-size: 22.5px;
    text-transform: uppercase;
    background-color: white;
    white-space: nowrap;
    border: 2.5px solid #1a1a1a;
    background-color: #1a1a1a;
    padding: 15px;
}

.container caption > .fas {
    font-size: 22.5px;
    padding-right: 15px;
}

.contatore caption > i {
    font-size: 15px;
    padding-left: 25px;
}

.contatore table tr th {
    filter: sepia(25%);
    font-family: "Roboto Slab", serif;
    font-size: 25px;
    border: 2.5px solid #1a1a1a;
    
}

.contatore table tr td {
    font-family: "Roboto Slab", serif;
    font-size: 22px;
    padding: 0 5px;
    background-color: #ffeac1;
    border: 2.5px solid #1a1a1a;
}

.plus {
    color: #119100;
}

.minus {
    color: #a80003;
}

.decease {
    color: #d3b67c;
    background-color: black;
}

.recovered {
    background-color: #00c610;
}

.total {
    color: #d3b67c;
    background-color: #1a1a1a;
}


footer {
    background-color: #ffeac1;
    margin-bottom: 30px;
}

footer > .down-navbar-container {
    margin: 0;
    border-top: 15px dashed #d8cbb1;
    padding-top: 30px;
    
}

a {
    text-decoration: none;
    color: #a80003;
}

a:hover {
    color: #e40004;
}

a:active {
    color: #550001;
}

footer {
    border-top: 20px dashed #d8cbb1;
    
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
    padding-top: 40px;
}

.footer-container > div {
    max-width: 400px;
    padding: 0 25px;
    margin: 15px;

}

.footer-container > div:nth-child(2) {
    border-radius: 1.5px;
    width: 290px;
    border-left: 3.5px solid #1a1a1a;
    border-right: 3.5px solid #1a1a1a;
}


.footer-container > div:last-child {
    padding-right: 0;
    margin-left: -15px;
    white-space: nowrap;
    margin-right: none;
    padding-right: 25px;
}

.footer-container > div  h4 {
    font-family: "Roboto", serif;
    font-size: 17.5px;
    margin-bottom: 10px;
}

.footer-desc {
    text-align: justify;
    border-radius: 2.5px;
    padding: 1.5px;
}

.down-footer-container {
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    margin-bottom: -30px;
    padding-bottom: 15px;
    border-top: 3.5px solid #1a1a1a;
}

#foot-logo {
    max-height: 100px;
}

footer li {
    font-family: "Roboto Slab", serif;
    font-size: 16px;
}


#back-to-the-top {
    text-transform: uppercase;
    font-family: "Arvo", serif;
    padding-top: 32.5px;
    transition: .5s;

}

#back-to-the-top > a {
    color: #1a1a1a;
    font-size: 30px;
    text-decoration: none;
    
}

#back-to-the-top .fa-arrow-alt-circle-up {
    transition: .5s;
}
#back-to-the-top:hover .fa-arrow-alt-circle-up {
    transition: .4s;
    transform: translateY(-5px);
    text-shadow: 0px 1px 3px #000000;
  }


section:last-child {
    margin-bottom: 35px;
}


@media screen and (min-width: 768px) and (max-width: 992px) {

    .navbar li:hover > a > .fa-hand-pointer {
        
    }


    .lateral-box-container {
      max-width: 125px;
    }

    .lateral-navbar-text {
        font-size: 16px;
        padding: 2.5px;
    }

    .navbar li:nth-child(2) {
        margin-top: 30px;
    }


    #logo {
        font-size: 45px;
    }


    .container {
        max-width: 745px;
    }


    .first-page-container {
     max-width: 740px;
    }

    .section-title {
        font-size: 27.5px;
    }

    .first-page-container > h1 {
        font-size: 25px;
    }

    .first-page-desc-container {
        display: block;
        margin: 0 32.5px;
    }

    .first-page-img {
        max-width: 720px;
        margin-bottom: 20px;
    }

    .first-page-desc {
        line-height: 27.5px;
    }

    .features {

        margin-left: -20px
    }


    .footer-container > div:nth-child(1) {
        border-bottom: 2.5px solid #1a1a1a;
        margin-right: -30px;
    }


.footer-container > div:nth-child(2){
    border-right: 0;
    margin-left: -30px;
    border-bottom: 2.5px solid #1a1a1a;
}

.footer-container > div:nth-child(3) {
    margin-left: 285px;
}

    .insert {
        width: 320px;
        height: 245px;
    }

    #first-pointer {
        margin: -20px 0;
    }

    #second-pointer {
        margin: 20px 0;
    }


    .shop {
        width:375px;
    }

    .insert-title {
        font-size: 13px;
    }

    #warning-section > .small-container {
        padding-bottom: 25px;
    }

    .warning-container {
        flex-wrap: wrap;
        max-width: 768px;
        margin: 10px 10px;
    }

    .warning-message {
        display: inline-block;
        margin: 25px 0 0 25px;
        flex-grow: 1;
        height: 70px;
    }

    .warning-message .fas {
        margin: 14px -35px;
    }

    .warning-message:nth-child(4) .fas {
        margin: -2.5px -35px;
    }

    .footer-container {
        flex-wrap: wrap;
    }

    .footer-container > div {
        width: 740px;
        padding: 0 auto;
        border-left: 

    }

    .websites {

    }

}

@media screen and (min-width: 320px) and (max-width: 768px) { 

    .container {
        min-width: 320px;
        max-width: 768px;
    }

    .lateral-box-container {
        max-width: 80px;
        height: 57.5px;
        min-width: 40px;

      }
  
      .lateral-navbar-text {
          font-size: 12px;
      }
  
      .navbar li:nth-child(2) {
          margin-top: 37.5px;
      }
  
      #logo {
          font-size: 35px;
      }


      .warning-container {
        flex-wrap: wrap;
        min-width: 320px;

    }

    .warning-message {
        flex-direction: column
        margin: 10px 0 0 0;
        flex-grow: 1;
        height: 75px;
        width: 150px;
    }




}